.main {
  display: flex;
  align-items: center;
  height: 100vh;
}

.content {
  position: absolute;
  margin-left: 10%;
}

.title {
  margin-bottom: 1rem;

  font-size: 2.2rem;
  font-weight: 400;
  color: white;
}

.list {
  list-style: none;
  color: white;
}

.link {
  display: block;

  font-size: 1.6rem;

  transition: color 0.2s ease;
}

.link:hover,
.link:focus {
  color: blueviolet;
}

.buttonsList {
  position: absolute;
  margin-left: 10%;
  list-style: none;
}

.buttonItem:not(:last-child) {
  margin-bottom: 1rem;
}

.button {
  width: 100%;
  padding: 1rem 3rem;

  color: green;
  background-color: white;
  border-radius: 1rem;
  border: none;

  cursor: pointer;
  transition:
    color 0.2s ease,
    background-color 0.2s ease;
}

.button:hover,
.button:focus {
  color: white;
  background-color: green;
}

.hints {
  position: absolute;
  z-index: 10;
  bottom: 10rem;
  left: 10rem;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  pointer-events: none;
}

.hintW {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

.hint {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;

  font-size: 1.4rem;
  color: #fff;

  background-color: gray;
  border-radius: 0.6rem;
}

.active {
  background-color: blue;
}
